*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(../img/bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}

.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 150px auto;
    border-radius: 8px;
    color: #fff;
    position: relative;
    padding: 56px
}

    .contenedor-form .toggle {
        position: absolute;
        top: 24px;
        right: 25px;
        width: 100px;
        height: 30px;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        border-top: 2px solid #1E90FF;
        border-bottom: 2px solid #1E90FF;
        cursor: pointer;
        transition: all .5s ease;
    }

        .contenedor-form .toggle:hover {
            border-top: 2px solid #0075d9;
            border-bottom: 2px solid #0075d9;
        }

        .contenedor-form .toggle span {
            letter-spacing: 1px;
        }

    .contenedor-form h2 {
        margin: 0 0 28px 0;
        font-size: 40px;
        font-weight: 400;
        line-height: 2;
        text-align: center;
        font: sans-serif;
    }

    .contenedor-form input[type="text"],
    .contenedor-form input[type="password"],
    .contenedor-form input[type="email"] {
        outline: none;
        display: block;
        width: 100%;
        padding: 7px 62px;
        margin: 0 0 20px 0;
        background: rgba(0,0,0,.5);
        color: #fff;
        border: none;
        border-radius: 7px;
        border-bottom: 4px solid #1E90FF;
        box-sizing: border-box;
        font-family: Roboto;
        font-size: 21px;
        font-weight: normal;
        transition: all .5s ease;
    }

        .contenedor-form input[type="text"]:focus,
        .contenedor-form input[type="password"]:focus,
        .contenedor-form input[type="email"]:focus {
            border-bottom: 4px solid #0075d9;
        }

    .contenedor-form input[type="submit"] {
        background: blue;
        color: #FFF;
        width: 100%;
        border: none;
        padding: 10px 0;
        font-size: 16px;
        font-weight: normal;
        font-family: Roboto;
        letter-spacing: 1px;
        cursor: pointer;
        transition: all .5s ease;
        border-radius: 25px;
    }

        .contenedor-form input[type="submit"]:hover {
            background: rgba(0, 117, 217, 0.7);
        }

    .contenedor-form .reset-password {
        background: rgba(0, 117, 217, .7);
        width: 100%;
        padding: 15px 0;
        text-align: center;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

        .contenedor-form .reset-password a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
        }

    .contenedor-form .formulario {
        display: none;
        padding: 0px;
    }

        .contenedor-form .formulario:nth-child(2) {
            display: block;
        }

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-login100 {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.wrap-login100 {
    width: 500px;
    background: #fff;
    border-radius: 30px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 100px 50px 100px;
}

.login100-pic {
    width: 316px;
}

.login100-form {
    width: 300px;
}

.login100-form-title {
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 30px;
}

.wrap-input100 {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 30px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 10px 30px 0 68px;
}

.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.8);
}

.input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}

@-webkit-keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

@keyframes anim-shadow {
    to {
        box-shadow: 0px 0px 70px 25px;
        opacity: 0;
    }
}

.symbol-input100 {
    font-size: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 38px;
    pointer-events: none;
    color: #666666;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus + .focus-input100 + .symbol-input100 {
    color: skyblue;
    padding-left: 28px;
}

.container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
}

.login100-form-btn {
    font-family: Montserrat-Bold;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: blue;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

    .login100-form-btn:hover {
        background: #1162ac;
    }

.validate-input {
    position: relative;
}

.alert-validate:before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;
    font-family: Poppins-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

*, ::after, ::before {
    box-sizing: inherit;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }

    .login100-pic {
        width: 35%;
    }

    .login100-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .wrap-login100 {
        padding: 100px 80px 33px 80px;
    }

    .login100-pic {
        display: none;
    }

    .login100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-login100 {
        padding: 100px 15px 33px 15px;
    }
}

a {
    font-family: Poppins-Regular;
    font-size: 20px;
    line-height: 3.4;
    color: white;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

    a:focus {
        outline: none !important;
    }

    a:hover {
        text-decoration: none;
        color: antiquewhite;
    }





